//Mains colors 

$DarkViolet: #9A18C9;
$transparent-DarkViolet: rgba(165, 57, 255, 0.21);

$DodgerBlue: #0098FF;
$transparent-DodgerBlue: rgba(0, 144, 255, 0.21);

$Cerise: #EE4469;
$transparent-Cerise: rgba(255, 45, 110, 0.21);

$Sunglow: #FFD23F;
$transparent-Sunglow: rgba(255, 250, 0, 0.21);